@model CreateCandidateViewModel
@{
    ViewData["Title"] = "Index";
}
<main class="main2">
    <div class="formContainer w-75">
        <form asp-controller="Candidate" asp-action="AddCandidate">
            <div class="form-group">
                <label asp-for="LastName">Numele candidatului</label>
                <input asp-for="LastName" type="text" class="form-control" id="candidateLastName" />
            </div>
            <div class="form-group">
                <label asp-for="FirstName">Prenumele candidatului</label>
                <input asp-for="FirstName" type="text" class="form-control" id="candidateFirstName">
            </div>
            <div class="form-group">
                <label asp-for="IdentityCard">Card de identitate</label>
                <input asp-for="IdentityCard" type="text" class="form-control" id="candidateFirstName">
            </div>
            <div class="form-group">
                <label asp-for="Details">Detalii</label>
                <input asp-for="Details" type="text" class="form-control" id="candidateFirstName">
            </div>
            <button type="submit" class="btn btn-primary">Adaugă</button>
        </form>
    </div>
</main>