@{
    ViewData["Title"] = "Home Page";
}
    <main class="mainBg">
        <div class="content">
            <h1>Electronic Voting</h1>
            <div class="subtitleContainer">
                <h4 class="subtitle">
                    Acesta este un sistem de vot electronic care folosește tehnologia Blockchain
                </h4>
            </div>
        </div>
    </main>