
@{
    ViewData["Title"] = "Index";
}

  <main class="main2">
      <div class="mainHeader">
        <h1 class="title">Autentificare pentru a <span>Vota!</span></h1>
      </div>
      <div class="mainBody">
        <div class="formContainer">
          <div class="voteImage"></div>
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Security code</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">Enter the code from the downloaded file.</small>
            </div>
            <button type="submit" class="btn btn-primary btnSubmit">Login</button>
            <div class="form-bottom">
              <span>OR</span>
              <a href="./register.html">Create account</a>
            </div>
          </form>
        </div>
      </div>
    </main>