
@model IEnumerable<AccountsViewModelcs>
<head>

</head>
<main class="mainBg">
    <div class="contentBlocks">
        @foreach (var item in Model)
        {
            <div class="table-responsive">
                <table class="table table-dark">
                    <tbody>
                        <tr><td width="30%">Account Id</td><td class="tabelCellWidth">@item.AccountId</td></tr>
                        <tr><td width="30%">Public Key</td><td class="tabelCellWidth">@item.PublicKey</td></tr>
                        <tr><td width="30%">Balance</td><td class="tabelCellWidth">@item.Balance</td></tr>


                    </tbody>
                </table>

            </div>
        }

    </div>
</main>