
@{
    ViewData["Title"] = "Index";
}
<main class="main2">
    <div class="formContainer w-75">
        <form>
            <div class="form-group">
                <label for="election">Numele alegerii</label>
                <input type="text" class="form-control" id="election" name="election">
            </div>
            <div class="form-group">
                <label for="startDate">Alegeți data de începere</label>
                <input type="date" class="form-control" id="startDate" name="startDate">
            </div>
            <div class="form-group">
                <label for="endDate">Alegeți data de încheiere</label>
                <input type="date" class="form-control" id="endDate" name="endDate">
            </div>
            <div class="checkbox">
                <label for="endDate">Selectați candidații</label><br />
                <select id="candidates" multiple="multiple">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</main>
