
@{
    ViewData["Title"] = "Index";
}

    <h1>Înregistrare alegere noua</h1>
<form action="/action_page.php">
    <label for="election">Numele alegerii</label>
    <input type="text" name="election"><br>
    <label for="startDate">Alegeți data de începere</label>
    <input type="date" id="startDate" name="startDate"><br>
    <label for="endDate">Alegeți data de finalizare </label>
    <input type="date" id="endDate" name="endDate"><br>
    <button action="submit">Adaugă</button>

</form>
