@{
    ViewData["Title"] = "Index";
}

<main class="main2">
    <div class="mainHeader">
        <h1 class="title">Înregistrare pentru a <span>Vota!</span></h1>
    </div>
    <div class="mainBody">
        <div class="formContainer">
            <form>
                <div class="form-group">
                    <div class="inputContainer">
                        <label for="exampleInputEmail1">First Name</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="inputContainer">
                        <label for="exampleInputEmail1">Last Name</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="inputContainer">
                        <label for="exampleInputEmail1">Identity Card</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btnSubmit">Create account</button>
                <div class="form-bottom">
                    <span>OR</span>
                    <a href="./login.html">Log In</a>
                </div>
            </form>
        </div>
    </div>
</main>