@model RegisterViewModel
@{
    ViewData["Title"] = "Index";
}

<main class="main2">
    <div class="mainHeader">
        <h1 class="title">Înregistrare pentru a <span>Vota!</span></h1>
    </div>
    <div class="mainBody">
        <div class="formContainer">
            <form asp-controller="Account" asp-action="Register">
                <div class="form-group">
                    <div class="inputContainer">
                        <label asp-for="LastName">Nume</label>
                        <input asp-for="LastName" type="text" class="form-control" id="firstName">
                    </div>
                    <div class="inputContainer">
                        <label asp-for="FirstName">Prenume</label>
                        <input asp-for="FirstName" type="text" class="form-control" id="lastName">
                    </div>
                    <div class="inputContainer">
                        <label asp-for="IdentityCard">Card de Identitate</label>
                        <input asp-for="IdentityCard" type="text" class="form-control" id="idCard">
                    </div>
                    <div class="inputContainer">
                        <label asp-for="Series">Serie</label>
                        <input asp-for="Series" type="text" class="form-control" id="exampleInputEmail1">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btnSubmit">Autentificare</button>
                <div class="form-bottom">
                    <span>Sau</span>
                    <a href="./login.html">Înregistrare</a>
                </div>
            </form>
        </div>
    </div>
</main>